<div class="sinupPage">
  <div class='container'>
    <h2 class="title">アカウント情報を変更</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages %>
      
      <div class="form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name, class: "form-control", placeholder: "名前を入力してください", autofocus: true %>
      </div>
      
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: "form-control", placeholder: "emailを入力してください", autofocus: true, autocomplete: "email" %>
      </div>
    

    
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    
      <div class="form-group">
        変更する<%= f.label :password %>
        <% if @minimum_password_length %>
        <em>  ( <%= @minimum_password_length %>文字以上 )</em>
        <% end %><br />
        <%= f.password_field :password, class: "form-control", placeholder:"変更しない場合は空欄", autocomplete: "off" %>
      </div>
    
      <div class="form-group">
        <%= f.label :password_confirmation %><br/>
        <%= f.password_field :password_confirmation, class:"form-control", placeholder: "変更しない場合は空欄", autocomplete: "off" %>
      </div>
      
    
      <div class="form-group">
        <%= f.label :current_password %><br/>
        <%= f.password_field :current_password, class:"form-control",  placeholder:"現在のパスワードを入力してください", autocomplete: "off" %>
      </div>
    
      <div class="actions text-center">
        <%= f.submit "変更を保存", class: "btn submitBtn loginBtn", data: {"turbolinks" => false} %>
      </div>
    <% end %>
    
    <div class="text-center">or</div>
    <div class="text-center"><%= render "devise/shared/links" %></div>

    
  </div>
</div>

