<div class="modal-dialog">
  
  <div id="card-editPage" class="modal-content">
    
    <div class='carddetailPage'>
      <div class="container">
        <div class="cardContents">
          
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <!--<span aria-hidden="true">&times;</span>-->
            <i class="far fa-times-circle fa-lg" aria-hidden="true"></i>
          </button>
          
          <p class="text-danger">
            <% @card.errors.full_messages.each do |error_message|%>
              <%= error_message %></br>
            <% end %>
          </p> 
          
          <div class="cardContents_title">
            <label>タイトル</label>
            <h2><%= @card.title %></h2>

          </div>

          <div class="cardContents_memo">
            <label>メモ</label>
            <div><%= @card.memo %></div>
          </div>
          <div class="cardContents_listStatus">
            <label>リスト名</label>
            <div><%= @card.list.title %></div>
          </div>
          <div class="cardContents_btnArea">
            <%= link_to '編集する', edit_list_card_path(@card.list, @card), remote: true, class:"edit_btn" %>
            <%= link_to '削除する', list_card_path(@card.list, @card), class: "text_danger delete_btn", method: :delete, title: "確認", data: { confirm: "<i class='fa fa-exclamation-circle'></i> このカードを削除します。よろしいですか？" } %> 
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>