<!DOCTYPE html>
<html>
  <head>
    <title>Task keeper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_link_tag 'application', media: 'all'%>
    <%#= javascript_include_tag 'application'%>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js" data-turbolinks-track="reload"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js" data-turbolinks-track="reload"></script>
    
  </head>

  <body class="drawer drawer--right cover">
    <%# if flash[:notice] %>
      <!--<div class="alert alert-info"><%#= flash[:notice] %></div>-->
    <%# end %>
    <%# if flash[:alert] %>
      <!--<div class="alert alert-danger"><%#= flash[:alert] %></div>-->
    <%# end %>
    
    <% if user_signed_in? %>
      <%= render partial: "layouts/header" %>
    <% end %>
    <%= yield %>
    
    <div id="listNew-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="true"></div>
    <div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
    
    <script data-turbolinks-eval="false">

      $(document).on('ready turbolinks:load', function() {
          $('.drawer').drawer();
      });

    </script>
    
  </body>
</html>
