<!DOCTYPE html>
<html>
  <head>
    <title>Trello-like..</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js" data-turbolinks-track="reload"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js" data-turbolinks-track="reload"></script>
    
  </head>

  <body class="drawer drawer--right">
    <% if flash[:notice] %>
      <div class="alert alert-info"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger"><%= flash[:alert] %></div>
    <% end %>
    
    <% if user_signed_in? %>
      <%= render partial: "layouts/header" %>
    <% end %>
    <%= yield %>
    
    <script>
      $(function() {
          $('.drawer').drawer();
          /* Activating Best In Place */
          jQuery(".best_in_place").best_in_place();
      });
      
    </script>
  </body>
</html>
