<!DOCTYPE html>
<html>
  <head>
    <title>Trello-like..</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js" data-turbolinks-track="reload"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js" data-turbolinks-track="reload"></script>
    
  </head>

  <body class="drawer drawer--right cover">
    <% if flash[:notice] %>
      <div class="alert alert-info"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger"><%= flash[:alert] %></div>
    <% end %>
    
    <% if user_signed_in? %>
      <%= render partial: "layouts/header" %>
    <% end %>
    <%= yield %>
    
    <div id="listNew-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="true"></div>
    <div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
    
    <script>
      $(function() {
          $('.drawer').drawer();
          
          /* Activating Best In Place */
          // $('.best_in_place').best_in_place();
         

          // // let hSize = window.innerHeight;
          // // $('.cover').height(hSize); // アドレスバーを除いたサイズを付与
          
          // // 最初に、ビューポートの高さを取得し、0.01を掛けて1%の値を算出して、vh単位の値を取得
          // let vh = window.innerHeight * 0.01;
          // // カスタム変数--vhの値をドキュメントのルートに設定
          // document.documentElement.style.setProperty('--vh', `${vh}px`);
      });
      
      
      // $(window).resize(function(){ // ページをリサイズした時の処理
      //     // let hSize = window.innerHeight;
      //     // $('.cover').height(hSize); // アドレスバーを除いたサイズを付与
      //     let vh = window.innerHeight * 0.01;
      //     document.documentElement.style.setProperty('--vh', `${vh}px`);
      // });
      
      // resizeイベントの取得
      // window.addEventListener('resize', () => {
      //   // あとは上記と同じスクリプトを実行
      //   let vh = window.innerHeight * 0.01;
      //   document.documentElement.style.setProperty('--vh', `${vh}px`);
      // });
      
      
    </script>
    
  </body>
</html>
